<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mac Dependencies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>av_player.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>composite_animation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>environment_mapping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>glut_player.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>lightmap_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>multiple_videos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>parallax_mapping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>seek_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>simple_player (iOS).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>sprite_animation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>tv_room.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>video_lighting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D12C207A1534D58B00B4904B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D139463F17C0EFAA0091F4A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1474023150CAF0D00B20490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D14740E7150CB45E00B20490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D147410A150CB6F300B20490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1474123150CB6F600B20490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D147413C150CB6F900B20490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1474155150CB70D00B20490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D166335A156ADAE8009E98F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D16A0E781698C4B80016DF67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D17613811561B21500F645DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1C014F215619D4700FBEF81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1C134AF157972CF005E8A5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
